<div>
    <h2>Folge uns</h2>
    <div style="text-align: center;">
      <a class="btn whatsapp" href="https://fffutu.re/infowa" target="_blank"><i class="fab fa-whatsapp icon-left"></i>Whatsapp</a>
      <a class="btn telegram" href="https://fffutu.re/infotg" target="_blank"><i class="fab fa-telegram icon-left"></i>Telegram</a>
      <a class="btn instagram" href="https://fffutu.re/insta" target="_blank"><i class="fab fa-instagram icon-left"></i>Instagram</a>
      <a class="btn facebook" href="https://fffutu.re/fb" target="_blank"><i class="fab fa-facebook icon-left"></i>Facebook</a>
      <a class="btn twitter" href="https://twitter.com/FFFAugsburg" target="_blank"><i class="fab fa-twitter icon-left"></i>Twitter</a>
    </div>
    <!--<p style="text-align: center;"><a href=""><i class="fad fa-chevron-double-right icon-left"></i>Andere For-Future Gruppierungen im Netz</a></p>-->
  </div>