<div>
    <h2>Mobilisierung unterstützen</h2>
    <p>Damit es auch jeder mitbekommt, werden wir in den Wochen vor dem Streik in Augsburg groß mobilisieren. Dafür brauchen wir eure Hilfe!<br>
      <strong>Im Klimacamp</strong> liegen viele verschiedene Materialien bereit: <strong>Bierdeckel, Sticker, Postkarten, stabile DIN-A3 Plakate (wie Wahlplakate), Schilder (z.B. befestigbar an Laternen), uvm.</strong>

    <p>Wenn du noch Fragen hast, kannst du diese in den Helfer*innen-Gruppen auf Whatsapp oder Telegram stellen.</p>
</div>