@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Jost';
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  max-width: 55em;
}

h1 {
  font-size: 35px;
}

h1,
h2 {
  color: #1b7340;
  text-align: center;
}

h2 {
  margin-top: 2em;
}

.first-heading {
  margin-top: 0;
}

p {

}

a {
  text-decoration: none;
  color: #1b7340;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

a.btn {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background-color: #1b7340;
  padding: 3px 10px;
  margin: 5px;
  border-radius: 3px;
}

a.btn:hover {
  text-decoration: none;
}

.btn.red {
  background-color: #f5333f;
}

.btn.brightgreen {
  background-color: #1da64a;
}

.btn.s4f {
  background-image: url('/images/warming-stripes.png');
  background-size: 100%;
}

.btn.whatsapp {
  background-color: #25d366;
}

.btn.telegram {
  background-color: #0088cc;
}

.btn.instagram {
  background: linear-gradient(45deg, #4f5bd5, #962fbf, #d62976, #fa7e1e, #feda75);
}

.btn.facebook {
  background-color: #4267B2;
}

.btn.twitter {
  background-color: #1da1f2;
}

.btn.augsburghandelt {
  background: linear-gradient(45deg, #009ee0, #53b278);
}


.icon-left {
  margin-right: 8px;
}

.icon-right {
  margin-left: 8px;
}

hr {
  margin-top: 70px;
  margin-bottom: 70px;
  border: 0;
  height: 0;
  border-top: 4px solid #00000035;
  border-radius: 10px;
}


.note {
  font-size: 15px;
  padding: 10px 20px;
  color: white;
  background-color: #f5333f;
  text-align: initial;
}

.change {
  color: #f5333f;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.logos {
  display: flex;
}

.banner {
  width: 100%;
  border-radius: 0px 5px;
}

@media (min-width: 40em) {
  .logo {
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    font-weight: bold;
  }

  .logo img {
    width: 5em;
    height: 5em;
  }
}

@media not screen and (min-width: 40em) {
  .logo {
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    text-align: center;
    font-weight: bold;
  }

  .logo img {
    width: 10vw;
  }
}

td {
  vertical-align: top;
  padding-bottom: 0.5em;
  text-align: justify;
}

.impressum {
  color: grey;
}

p {
  padding-left: 1em;
  padding-right: 1em;
}

.announcement {
  background-color: #5de68a;
  padding: 0.5em;
  font-size: 18px;
  text-shadow: 0px 0px 20px #ffffff;
  margin-bottom: 1.5em;
  text-align: center;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  border-top: 0.35em solid #1b7340;
  border-bottom: 0.35em solid #1b7340;
}

@media (min-width: 40em) {
  .announcement {
    border: 0.35em solid #1b7340;
  }
}

.pictures {
  text-align: center;
  margin-top: 2em;
}

.pictures img {
  border-radius: 5px;
  width: 100%;
}

img {
  border-radius: 5px;
}

@media (min-width: 40em) {
  .pictures img {
    width: 49%;
  }
}

.picturesrow {
  text-align: center;
  margin-top: 2em;
}

.picturesrow img {
  width: 100%;
}

@media (min-width: 30em) {
  .picturesrow img {
    width: 35%;
  }
}

@media (min-width: 40em) {
  .sharepic-single {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media not screen and (min-width: 40em) {
  .sharepic-single {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

/*----ANFANG obere Navigationsleiste----*/
.topnav {
  overflow: hidden;
  background-color: #1b7340;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  width: -moz-fit-content;
}


.topnav a {
  float: left;
  color: #fefefe;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-style: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #1DA64A;
  color: white;
}

/*für css dropdown navbar:*/

.navbar {
  overflow: hidden;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  width: -moz-fit-content;
  /*border-radius: 5px;*/
}

.navbar a {
  float: left;
  display: block;
  font-size: 19px;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  background-color: #1b7340;
  /*margin-left: 5px;
  margin-right: 5px;
  border-radius: 3px;*/
}

.dropdown {
  float: left;
  overflow: hidden;
}

/*Dropdown*/
.dropdown .dropbtn {
  font-family: 'Jost';
  font-weight: 500;
  font-size: 19px;
  border: none;
  outline: none;
  color: white;
  padding: 10px 16px;
  margin: 0;
  font-style: none;
  background-color: #1b7340;
  /*margin-left: 5px;
  margin-right: 5px;
  border-radius: 3px;*/
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

.navbar .active {
  background-color: #1DA64A;
  color: white;
}

a.active {
  background-color: #1DA64A;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-top: 2px;
  z-index: 999;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-radius: 0;
}

.dropdown-content a:first-child {
  margin-left: 0;
  border-radius: 5px 5px 0px 0px
}

.dropdown-content a:last-child {
  margin-right: 0;
  border-radius: 0px 0px 5px 5px
}

.dropdown-content a {
  margin-left: 0;
  margin-right: 0;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media only screen and (min-width: 769px) {
  .navbar {
    border-radius: 5px;
  }

  .navbar a {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
  }


  .navbar a:first-child {
    margin-left: 0;
  }

  .navbar a:last-child {
    margin-right: 0;
  }

  .dropdown .dropbtn {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
  }

  .dropdown-content a {
    border-radius: 0;
  }

  .dropdown-content a:first-child {
    margin-left: 0;
    border-radius: 5px 5px 0px 0px
  }

  .dropdown-content a:last-child {
    margin-right: 0;
    border-radius: 0px 0px 5px 5px
  }

  .dropdown-content a {
    margin-left: 0;
    margin-right: 0;
  }
}

/*----ENDE obere Navigationsleiste----*/

/*----ANFANG Wikipedia style Inhaltsverzeichnis----*/
.toc {
  display: inline-block;
  display: table;
  zoom: 1;
  *display: inline;
  padding: 7px;
}


.toc,
.mw-warning,
.toccolours {
  border: 1px solid #1b7340;
  background-color: #ecf9ef;
  padding: 5px;
  font-size: 95%;
}

.toctogglespan {
  font-size: 94%;
}

.toctogglelabel {
  cursor: pointer;
  color: #0645ad;
}

.toc .toctitle {
  text-align: center;
}

.toc .toctitle {
  direction: ltr;
}

.mw-content-ltr .toc ul,
.mw-content-rtl .mw-content-ltr .toc ul {
  text-align: left;
}

.mw-body-content {
  line-height: 1.6;
  font-size: 0.875em;
}

.mw-body,
.parsoid-body {
  color: #222222;
  direction: ltr;
}

.toc ul {
  list-style-type: none;
  list-style-image: none;
  text-align: left;
}

/*----ENDE Wikipedia style Inhaltsverzeichnis----*/

/*----ANFANG Hintergrund wie auf fridaysforfuture.de---*/
body,
h2:not(.comments-title)::after {
  background: #1B7340 url(/images/erde_hell.svg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 120% 20%;
  background-size: 120%;
}

.site {
  margin: 14px;
  padding: 27px;
  background: white;
  border-radius: 5px;
}

/*----ENDE Hintergrund wie auf fridaysforfuture.de---*/

/*----ANFANG Akkordeon für Arbeitskreise---*/
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
}

.tab {
  width: 100%;
  overflow: hidden;
}

.tab-label {
  color: #1b7340;
  display: flex;
  padding: 1em;
  background: white;
  font-weight: bold;
  cursor: pointer;
  /* Icon */
}

.tab-label:hover {
  color: #1DA64A;
}

.tab-label::before {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 1.1s;
}

@media (min-width: 40em) {
  .tab-content {
    max-height: 0;
    visibility: hidden;
    padding: 0 1em;
    background: white;
    transition: all .7s;
    margin-left: 20px;
  }
}

@media not screen and (min-width: 40em) {
  .tab-content {
    max-height: 0;
    visibility: hidden;
    padding: 0 1em;
    background: white;
    transition: all .7s;
    margin-left: 2.5vw;
  }
}

.tab input[type=checkbox]:checked+label {
  color: #1DA64A;
}

.tab input[type=checkbox]:checked+label::before {
  transform: rotate(450deg);
}

.tab input[type=checkbox]:checked+label~.tab-content {
  max-height: 100vh;
  visibility: visible;
}

/*----ENDE Akkordeon für Arbeitskreise---*/

/*----Kram für SM Logos auf Hauptseite---*/
.social-media-leiste {}

.social-media-leiste img {
  height: 1.5em;
}

.social-media-leiste ul {
  display: block;
  padding-left: 0.5em;
}

.social-media-leiste li {
  display: inline;
}

.social-media-leiste li:before {
  content: "";
  margin-left: 0;
}

/*----Responsive embedded youtube videos---*/
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*----Stadtradeln iframe Widget skallieren, obwohl es Mindestmaße hat (hier genau fürs Stadtradeln-iframe, welches maximal 415px in beide Richtungen hat)---*/
.iframe-container-stadtradeln {
  margin: 0 auto;
  max-width: 100%;
  width: 415px;
  height: 415px;
}



/*------------------------------------------------*/
body {
  font-family: 'Jost';
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.image {
  position: relative;
  flex: 1;
  max-width: 460px;
  height: 300px;
  margin: 20px;
  overflow: hidden;
  border-radius: 8px;
}

.image img {
  position: relative;
  vertical-align: top;
  transition: 0.6s;
  transition-property: opacity;
  weight: 100%;
  height: 125%;
}


.image .details {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  width: 100%;
  height: 100%;
}

.image .details h2 {
  color: #fff;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 70px;
  transition: 0.4s;
  transition-property: transform;
}

.image .details .one {
  letter-spacing: 500;
  letter-spacing: 5px;
}

.image .details h2 span {
  font-weight: 700;
  letter-spacing: 2px;
}


/* Responsive CSS */

@media (max-width: 1080px) {
  .image {
    flex: 100%;
    max-width: 480px;
  }
}

/* Mobile Nav */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.95);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 17%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
}

.overlay a:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.overlay .closebtn:hover {
  transform: scale(1.15);
  transition: all 0.3s ease;
}

span.menubtn {
  position: fixed;
}

.menubtn {
  position: absolute;
  top: 22px;
  right: 22px;
  background: #F5333F;
  padding: 5px 10px;
  border: solid 2px #fff;
  border-radius: 5px;
  color: #fff;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.mobile-dropdown-item a {
  font-size: 25px;
}

.mobile-dropdown-item {
  padding-right: 40px;
}

.accordion {
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

div ul li {
  list-style-type: none;
}

.panel a.active,
.accordion.active {
  color: #f1f1f1;
  background-color: unset;
}

/* Container holding the image and the text */
.img-btn-container {
  position: relative;
  text-align: center;
  color: white;
}

/* Text styles */
.img-btn-bottom-left,
.img-btn-bottom-right {
  box-shadow: 0px 0px 9px #2b2b2b;
}

/* Bottom left text */
.img-btn-bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Bottom right text */
.img-btn-bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.img-btn-button {
  border: none;
  padding: 6px 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 2px 20px;
  transition-duration: 0.4s;
  background-color: #fff;
  border: 2px solid #f44336;
  text
}

.img-btn-button a {
  color: #f44336;
  text-decoration: none;
}

.img-btn-button:hover {
  background-color: #f44336;
}

.img-btn-button:hover,
.img-btn-button a:hover {
  color: #fff;
}

/* Two Cells */

.tc-wrapper {
  margin: 15px;
}

.tc-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.tc-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.tc-one-column, .tc-two-column {
  height: auto;
}