.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-weight: 500;
  font-size: 19px;
  border: none;
  outline: none;
  color: white;
  padding: 10px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-style: none;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

.navbar .active {
  background-color: #1DA64A;
  color: white;
}

a.active {
  background-color: #1DA64A;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1b7340;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}