.navbar {
  border-radius: 5px;
}

.navbar a {
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 3px;
}


.navbar a:first-child {
  margin-left: 0;
}

.navbar a:last-child {
  margin-right: 0;
}

.dropdown .dropbtn {
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 3px;
}

.dropdown-content a {
  border-radius: 0;
}

.dropdown-content a:first-child {
  margin-left: 0;
  border-radius: 5px 5px 0px 0px
}

.dropdown-content a:last-child {
  margin-right: 0;
  border-radius: 0px 0px 5px 5px
}

.dropdown-content a {
  margin-left: 0;
  margin-right: 0;
}