<section>
    <h1><i class="fad fa-bullhorn icon-left"></i>Nächster Klimastreik</h1>
    <p>
        Der zunächst für den 10. Februar 2023 um 15 Uhr auf dem Rathausplatz geplante Klimastreik muss leider
        verschoben werden. Der nächste Termin findet sich wie gewohnt an dieser Stelle.<br><br>
        Wenn selbst offensichtliche Folgen der Klimakrise, die Regierung nicht zum Handeln bringen, braucht es den
        Druck
        von der Straße! Es braucht dich! Komm mit uns und fordere von der Regierung konsequenten Klimaschutz
        ein!
    </p>
</section>
