<link rel="stylesheet" href="/layout.css">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="/assets/icons/icons.css">

<script src="script.js"></script>

<!--
<nav>
  <ul>
      <button>🞬</button>
    <li> 
      <a href="#1">Start</a>
    </li>

    <li>
       <a href="#2">Aktuelles</a>
    </li>

    <li>
      <a href="#3">Unterstützen</a>
    </li>

    <li>
      <a href="#4">Material</a>
      <ul class="dropdown">
        <li><a href="#">Sub-1</a></li>
        <li><a href="#">Sub-2</a></li>
        <li><a href="#">Sub-3</a></li>
      </ul>
    </li>

    <li>
      <a href="#5">Kontakt</a>
    </li>
  </ul>
</nav>
-->

<nav>
  <ul>
    <li class="item"><a href="#">Start</a></li>
    <li class="item"><a href="#">Aktuelles</a></li>
    <li class="item"><a href="#">Unterstützen</a></li>
    <li class="item"><a href="#">Material <i class="fas fa-chevron-down icon-right"></i></a>
      <ul class="dropdown dropdown-content">
        <a class="dropdown-item" href="#"><i class="fad fa-comment-exclamation icon-left"></i>Forderungen</a>
        <a class="dropdown-item" href="#"><i class="fad fa-image fa-swap-opacity icon-left"></i>Bilder</a>
        <a class="dropdown-item" href="#"><i class="fad fa-megaphone icon-left"></i>Sprüche</a>
        <a class="dropdown-item" href="#"><i class="fad fa-comment-lines icon-left"></i>Reden</a>
        <a class="dropdown-item" href="#"><i class="fad fa-link icon-left"></i>Links</a>
      </ul>
    </li>
    <li class="item"><a href="#">Kontakt</a></li>
  </ul>
</nav>